<div class ='container py-5'>
<h1>List of Genres</h1>
  <ul>
    <% @lists.each do |list|%>
      <li><%= link_to list.name, list_path(list) %></li>
    <% end %>
  </ul>

<%= link_to "Add a new list", new_list_path %>
</div>
