<div class='container'>
<h1>Make a new list</h1>
<%= simple_form_for (@list) do |f| %>
  <%= f.input :name, placeholder: "Drama" %>
  <%= f.submit "Submit list", class: "btn btn-primary" %>
<% end %>
</div>
