<div class='container'>
<h1>Add a movie</h1>
<%= simple_form_for ([@list, @bookmark]) do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment, placeholder: "what do you think of this movie?" %>
  <%= f.submit "Submit bookmark", class: "btn btn-primary" %>
<% end %>
</div>
